<!DOCTYPE html>
<html lang="esp">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- ícono en el navegador-->
    <link rel="icon" href="img/logo-nave.JPG">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/461a06d86e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/indexstyles.css">
</head>

<body>

    <header>
        <!--cabezote-->
        <div class="cabezote">
            <a href="/" class="contenedor-logo">
                <img src="/img/logo-mercado-liebre.svg" alt="logo Mercado Liebre" class="logo">
            </a>
            <div class="contenedor-barra">
                <form action="" method="GET" class="barra-busqueda">
                    <input type="search" name="buscador" placeholder="Buscar productos, marcas">
                    <input type="submit" id="submit" name="submit" class="submit"></button>
                    <label for="submit"><i class="fas fa-search"></i></label>
                </form>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjetas de crédito</p>
        </div>

        <!--barra de navegación-->
        <nav>
            <ul class="menu1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="menu2">
                <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <!--icono hamburguesa-->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <!--imagen de banner-->
    <section>
        <img src="img/img-home-banner.jpg" alt="imagen home banner">
    </section>

    <main>

        <section>
            <!--sección del main basado en tu última visita-->
            <h2>Basado en tu última visita</h2>

            <div class="contenedor-articulos">

                <!--articulo 1-->
                <article>

                    <img src="img/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                    <div class="caja-articulo">
                        <p class="precio">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>

                <!--articulo 2-->
                <article>
                    <img src="img/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <div class="caja-articulo">
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>

                <!--articulo 3-->
                <article>
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                    <div class="caja-articulo">
                        <p class="precio">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>

                <!--articulo 4-->
                <article>
                    <img src="img/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                    <div class="caja-articulo">
                        <p class="precio">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>
            </div>

        </section>

        <section>
            <!--sección del main OFERTAS-->
            <h2>Ofertas</h2>

            <div class="contenedor-articulos">

                <!--articulo 1-->
                <article>
                    <img src="img/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                    <div class="caja-articulo">
                        <p class="precio">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>

                <!--articulo 2-->
                <article>
                    <img src="img/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <div class="caja-articulo">
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>

                <!--articulo 3-->
                <article>
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                    <div class="caja-articulo">
                        <p class="precio">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>

                <!--articulo 4-->
                <article>
                    <img src="img/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                    <div class="caja-articulo">
                        <p class="precio">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                        <i class="fas fa-truck"></i>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>

        <!--contenedor de los articulos del footer-->
        <div class="articulos">

            <article>
                <i class="fas fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </article>

            <article>
                <i class="fas fa-gift"></i>
                <h2>Envío gratis desde $2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </article>

            <article>
                <i class="fas fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </article>
        </div>

        <!--barrita de copyright -->
        <article>
            <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
        </article>
    </footer>
</body>




</html>