* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body{
    font-family: 'Asap', sans-serif;
    background-color: #ebebeb;
    width: 100%;
}

p, i{
    font-size: 0.9rem;
}

i{
    margin: 2px
}

a:hover{
    cursor: pointer;
}


header{
    background-color: #EAC926;
    width: 100%; 
    padding: 4vh 6vw 5vh 6vw;
}

.cabezote{
    display: flex;  
    justify-content:space-between;
    flex-wrap: wrap;
    width:100%;
}

.cabezote .contenedor-logo{
   width: 50%;
   display: block;
   margin: auto;
}

.contenedor-logo .logo{
    max-width: 90%;
}

.cabezote .contenedor-barra{
    width: 50%;
    display:block;
    margin: auto;
}

.barra-busqueda{
    width: 95%;
    border-radius: 8px;
    background-color: white;
    position: relative;
    display:block;
    margin: auto;
}

.barra-busqueda input{
    width: 100%;
    height: 1.8rem;
    margin: auto;
    border: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.75rem;
    outline: none;
}

.barra-busqueda .submit{
    display:none;
}

.barra-busqueda i{
    color: #666;
    background-color: white;
    position: absolute;
    padding: 5px;
    right: 0;
}

.barra-busqueda i:hover{
    cursor:pointer;
}

.cabezote p{
  margin: auto;
  padding: 20px 10px 25px 10px;
  text-align: center;
}


nav{
    display:none;
}

nav li {
    list-style: none;
}

nav a{
    text-decoration:none;
    color: black;   
}

.burger-menu {
    background-color: #1259c3;
    display:block;
    text-align: center;
    margin: 0 auto;
    width: 40px;
    padding: 10px;
    border-radius: 3px;
    color: white;
}

.burger-menu i{
    font-size: 1rem;
}
      

main{
    width: 80%;
    display: block;
    margin: 25px auto;
    background-color:  #ebebeb;
}

main form{
    width: 100%;
    text-align: center;    
}

main h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    color:  #03264C;
}

main p{
    width: 100%;
    display: block;
    margin: auto;
    padding-bottom: 15px;   
}

main i {
    display: block;
    margin: auto;
    padding: 0 6px 5px 0;
    font-size: 1.5rem;
    margin: 0;
    font-size: 1.5rem;
    color: #03264C;
}

main input{
    border-radius: 4px;
    border-color: white;
    background-color: white;
    border-style: none;
    padding: 0px 5px;
    color:  #666;

}

.general, .categorias, .perfil, .foto-perfil, .contraseña, .botones {
    padding-bottom: 20px;
 }

.general input, .contraseña input{
    height: 2rem;
    width: 88%;
}

.texto-fecha{
    display: none;
}

.fecha:hover ~ .texto-fecha{
    display: block;
    color:  rgb(92, 91, 91);
    font-size: 0.7rem;  
    padding-bottom: 10px;
    padding-top: 1px;
}
    
.fecha:hover {
    padding: 0;
}

.perfil input, .perfil label{
    margin-top: 8px;
    font-size: 0.8rem;
}

main h3{
    font-size: 1rem;
}

.categorias input , .categorias label{
    font-size: 0.8rem;
}

.categorias p{
    padding-bottom: 5px;
    font-weight: normal;
    font-style: italic;
    font-size: 0.85rem;
}

.foto-perfil{
    margin: 10px auto 10px auto;
}

.foto-perfil p{
    padding: 0;
}

.foto-perfil p label{
    font-weight: bold;
    font-size: 1rem;
}


.foto-perfil input{
   width: 99%;
   padding: 10px 0;
   height: 2rem;
   font-size: 0.7rem;
   background-color: transparent;
   font-style: italic;

}

.botones{
    margin: auto;
}


.botones button {
    width: auto;
    color: white;
    font-weight: bold;
    background-color: #1259c3;
    height: 2.2rem;
    border-radius: 4px;
    padding: 7px;
    border-color: #1259c3;
    border-style: none;
    margin-bottom: 10px;
    margin-left: 4vw;
}

.botones button:hover{
    cursor: pointer; 
}

footer {
    width: 90%;
    display: block;
    margin: 0 auto;
    background-color:white;
    padding-bottom: 5px;
}


footer .articulos article{
    width: 95%;
    margin: 0 auto;
    text-align: center;
    color: #666;
    padding-top: 35px;
}

footer i{
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
 }
 
footer h2{
  font-size: 0.9rem;
  margin-bottom: 2px;
}

footer p{
    font-size: 0.8rem;
  }

footer h6 {
    font-size: 0.6rem;
    text-align: center;
    color: #666;
}

@media (min-width: 349px) {

    .foto-perfil input{
        width: auto;
     }
    }


@media (min-width: 426px) {

    .contenedor-logo .logo{
        width: 80%;
    }

    .barra-busqueda input{
        height: 2.5rem;
        padding-left: 10px;
    }
    
    .barra-busqueda i{
        font-size:1rem;
        padding: 10px;

    }
    
    .cabezote p{
        font-size: 1rem;
      
    }

    .foto-perfil input{
        font-size: 0.8rem;
     
     }

}


@media (min-width: 769px) {

    header{
        padding: 0px 1.5vw 0px 1.5vw;
    }
    
    .cabezote {
            flex-wrap: nowrap;
            align-items: center;
            padding: 40px 3vw 10px 3vw;
        }
    
    .cabezote .contenedor-logo{
            width: 30%;
            
         }
         
    .contenedor-logo .logo{
            width: 100%;
         }
         
    .cabezote .contenedor-barra{
             width: 30%;
             flex-grow: 0.8;
            border: 20px solid #EAC926;
              }
    
    .barra-busqueda{
            width: 100%;
         }
    
    .cabezote p{
             width: 30%;
             flex-grow: 0.2;
             font-size: 1.3rem;
             padding: 0px;    
         }
         
    nav{
            display:flex;
            justify-content: space-between;
           }
    
    .menu1, .menu2 {
            display: flex;
            padding: 55px 0px 10px 0px;
        }
    
    .menu1{
            flex-direction: flex-start;
        }
    
    .menu2{
        flex-direction: flex-end;
    }
    
    nav a {
             font-size: 1.2rem;
        }
    
    .menu1 li{
        padding-left: 15px;
        }
    
    .menu2 li{
        padding-left: 15px;
             }
    
    nav  i{
         padding: 0px 0px 0px 1px;
       }
    
    .burger-menu{
        display:none;
    }

.general input, .contraseña input{
    width: 80%;
}

footer{
margin-top: 30px;
    }

footer i:hover{
        color: #03264C;
    }

footer .articulos{
        display: flex;
        padding:10px;
        background-color:white;
        align-items: center;
    }

footer .articulos article{
        padding:10px 18px 10px 18px;   
    }

footer h2 {
        font-size: 1rem;
    }

footer p {
        font-size: 0.9rem;
    }

}
